<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>	<key>Contacts_FieldNames</key>	<array>		<string>FirstName</string>		<string>LastName</string>		<string>MiddleName</string>		<string>Organization</string>		<string>Department</string>		<string>Note</string>		<string>Birthday</string>		<string>CreationDate</string>		<string>ModificationDate</string>		<string>Email1Address</string>		<string>Email1Label</string>		<string>Email2Address</string>		<string>Email2Label</string>		<string>Phone1Number</string>		<string>Phone1Label</string>		<string>Phone2Number</string>		<string>Phone2Label</string>		<string>Phone3Number</string>		<string>Phone3Label</string>		<string>Phone4Number</string>		<string>Phone4Label</string>	</array>	<key>New item</key>	<string></string></dict></plist>
